<!DOCTYPE html>
<html>
	<head>
	<style type="text/css">
		body{
			color: black;
		}
	</style>
	</head>
	<body>
		<h2>You have a BanhMiSUB “Contact Us” message:</h2>
		<p><b>Name</b>: {{name}}</p>
		<p><b>Email</b>: {{email}}</p>
		<p><b>Phone</b>: {{phone}}</p>
		<p><b>Interest:</b> {{primary_interest}}</p>
		<p><b>Message:</b></p>
		<p>{{message}}</p>
		<br>
		<strong>Banhmisub.com</strong>
	</body>
</html>
