<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<h2>Hello {{name}},</h4>
		<p>We have just received your message through our “Contact Us” form of banhmisub.com.</p>
		<p>Thank you for contacting us. We will reply to your message shortly.</p>
		<br>
		<p>Sincerely.</p>
		<strong>BANH MI SUB</strong>
	</body>
</html>