body {
	background: #252523 url(../images/background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	color: #392113;
	display: block;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	font-size: 1.6em;
	line-height: 1em;
	height: 100%;
	margin: 0px;
	outline-color: rgb(34, 34, 34);
	outline-style: none;
	outline-width: 0px;
	padding: 0px 0px 60px 0px;
	/*position: relative;*/
}

input:focus,button:focus,select:focus,
input:hover,button:hover,select:hover,
input:active,button:active,select:active{
	outline: none !important;
}

.width-auto{
	width:auto !important;
}
*::selection{
	background: #ffdf71;
	color: #222222;
}
a{
	color: #9f3122;
	text-decoration: none;
	line-height: inherit;
}
a:hover,a:active,a:focus{
	color: #FFC707;
	text-decoration: none;
}
h1, h2, h3, h4, h5, label, p {
	color: #392113;
}
h1, h2, h3, h4, h5, h6 {
	font-family:FF-FallingSkyBlk,"Falling Sky",sans-serif
	font-weight: normal;
	text-align: center;
}
.header{
	width: 100%;
	display: table;
	position: absolute;
	position: fixed;
	background: #252523 url(../images/background.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	top: 0;
	z-index: 9;
	/*color: white;*/
}
.shapdow-bot{
	-webkit-box-shadow: 0 4px 10px #222222;
	-moz-box-shadow:    0 4px 10px #222222;
	box-shadow:         0 4px 10px #222222;
}
.main-content{
	margin-top: 155px;
}
.pizbutton, .pizbutton:hover, .pizbutton:active, .pizbutton:focus, .pizbutton:visited{
	background: #A03123 !important;
	border:1px solid #902113!important;
	font-size: 80%;
	margin: 0px 0 0 15px;
	color: white;
	border-radius: 5px;
}
.pizbutton:hover,.white:hover{
	background: #902113 !important;
	text-decoration: underline;
	color: white;
}
.accountbox{
	padding-top: 20px;
	clear: both;
}
.white{
	color: white;
	font-size: 0.8em;
}
.lang{
	margin: 10px 15px 0 0px;
	line-height: 50px;
}
.langbox{
	margin-left: 30px;
}
#headerLogo, .headerLogo {
	max-width: 100%;
	max-height: 80px;
}
.header #logo{
	max-height: 90px;
}
.ir {
	display: block;
	border: 0;
	text-indent: -999em;
	overflow: hidden;
	background-color: transparent;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.container{
	max-width: 1070px;
}

/*Menu*/
#menu-container{
	margin-left: auto;
	margin-right: auto;
}

#main_menu{
	margin-bottom: 0px;
	background-color: #392113;
	border-top: 1px solid #aeaeae;
	width: 100%;
	border-radius: 0px;
}
.product_left{
	/*margin-top: 45px;*/
}
#main_menu #navbar{
	width: 100%;
}
#main_menu #navbar .navbar-nav{
	width: 100%;
}
#main_menu #navbar .navbar-nav>li{
	width: 12.5%;
	height: 60px;
	box-sizing: border-box;
	border-right: 1px solid #392113;
	border-top: 1px solid #392113;
	
}
#main_menu #navbar .navbar-nav>li:hover{
	-webkit-transition: border-bottom-color 500ms ease-out;
	transition: border-bottom-color 500ms ease-out;
	border-bottom: 4px solid #A03123;
}
#main_menu #navbar .navbar-nav>li:last-child{
	border-right: none;
}
#main_menu #navbar .navbar-nav>li.active{
	border-bottom: 4px solid #A03123;
}
#main_menu .navbar-nav>li>a{
	text-align: center;
	font-family:FF-FallingSkyBlk,"Falling Sky",sans-serif;
	font-size: 1em;
	line-height: 1em;
	color: white;
	text-transform: uppercase;
	padding: 1.1em 5px 0px 5px !important;
}
.navbar-default{
	border-color:inherit !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	background: transparent;
}
.menu .navbar-collapse{
	padding-left: 0;
	padding-right: 0;
}
.menu #navbar{
	background: transparent;
	border-color:none;
}

.button {
	border-radius: 6px;
}
.ph-default-button, .ph-primary-button, .ph-secondary-button {
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
}
.welcome{
	margin: 0 3% 0 3%;
}
.welcome .store-button button {
	width: 100%;
	font-size: 1.3em;
	max-width: 275px;
	float: right;
	min-height: 46px;
	padding: 0;
	margin-top: 20px;
}
.button-welcome {
	background-color: #fed75f !important;
	color: #392113 !important;
	font-weight: 700;
	text-transform: uppercase;
}
.ph-default-button, .ph-primary-button, .ph-toggle, .nav-tabs>li a, .ph-checkout .pill .selected {
	color: #392113;
	text-shadow: 0 1px 1px rgba(255,255,205,0.5);
	background: #fff;
}
.nav-tabs>li a:hover, .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background: #9f3122!important;
	color: #fff !important;
}
.nav-tabs>li{
	float:left;
}
.nav-tabs>li>a{
	margin-right: 0 !important;
	border-radius: 0;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
	padding: 20px;
}
.nav-tabs>li:first-child a{
	border-left:1px solid #ddd;
	border-radius: 5px 0 0 0 ;
}
.nav-tabs>li:last-child a{
	border-right:1px solid #ddd;
	border-radius: 0 5px 0 0 ;
}

.popup_button{
	position: relative;
	margin-top: -68px;
	margin-right: 12px;
	font-size: 14px;
	padding: 15px 25px 15px 25px;
	color: #9f3122 !important;
	text-transform: uppercase;
	font-weight: bold;
	background-color: white !important;
	border: 1px solid #9f3122;
	border-radius: 5px;
}
button, .button {
	border-style: solid;
	border-width: 1px;
	cursor: pointer;
	font-family: inherit;
	font-weight: bold;
	line-height: normal;
	margin: 0 0 1.25em;
	position: relative;
	text-decoration: none;
	text-align: center;
	display: inline-block;
	padding-top: 0.75em;
	padding-right: 1.5em;
	padding-bottom: 0.8125em;
	padding-left: 1.5em;
	font-size: 1.2em;
	background-color: #ffdf71;
	color: #392113;
	outline: none;
}

.banner{
	margin-top: 2%;
}
.banner img{
	width: 100%;
}
.pizzabanner{
	min-height: 80px;
	width: 100%;
	background-attachment: scroll;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	/*background-image: url(../images/PH_PANormous_Feb20152.png);*/
	background-origin: padding-box;
	background-repeat: no-repeat;
	background-size: 100%;
}
.pizzabanner h1{
	text-transform: uppercase;
	position: absolute;
	bottom: 10px;
	margin: 0;
	text-align: left;
	padding-left: 10px;
	color: #a03123;
	font-size: 3em;
	font-weight: 700;
	/*text-shadow: 1px 3px 15px #392113;*/
	width:70%;
	display: inline-block;
	font-family: FF-FallingSkyBlk,"Falling Sky",sans-serif;
}
.pizzabanner img{
	display: inline-block;
	min-height: 200px;
	margin: auto;
	width: 100%;
}
.description{
	font-size: 1.25em;
	margin: 10px 0;
}
.menufooter{
	background: #392113 !important;
	padding: 5px;
}
.menufooter h4{
	color: #ffffff;
	border-color: rgba(255,255,255,0.3);
	text-align: left;
	font-size: 1.3em;
}
.fitem{
	padding-left: 3%;
}
.subnav{
	font-size: 1em;
	line-height: 1.6;
	margin-bottom: 1.25em;
	list-style-position: outside;
	font-family: inherit;
	margin-left: 0px;
	padding-left:0px;
}
.subnav li{
	list-style: none;
	margin-left: 0px;
	padding: 0;
	margin-bottom: 0.7em;
	color: #ffffff;
	font-size: 1em;
	border-color: rgba(255,255,255,0.3);
	line-height: 1em;
	direction: ltr;
}
.subnav li a{
	color: white;
	font-size: 0.95em;
}
.subnav li a:hover{
	text-decoration: underline;
}
.textfooter{
	margin-top: 1.25em;
	font-size: 1em;
	line-height: 1.5em;
}

.page_content{
	background-color: #7e2a2c; /*#bf6f40*/
    color: white;
    padding-bottom: 20px;
    padding-top: 20px;
}

.product-item{
	background: rgba(0,0,0,0);
	box-shadow: none;
	border-radius: 0;
	display: table;
	width: 100%;
	margin:  6% 0 0% 0;
	border: 2px solid #d4b69f;
}
.product-item .product_item_price{
	font-size: 1.8em;
	line-height: 2em;
	font-weight: bold;
	color:#A03123;
	padding: 5px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.product-block{
	margin-bottom: 3%;
}
.right-text{
	/*width: 50%;*/
	float: right !important;
	/*margin-right: 5%;
	text-align: left;
	font-size: 1em;
	line-height: 18px;*/
	/*height: 228px;*/
	overflow: hidden;
	/*padding-left: 5px;*/
	/*margin-bottom: 95px;*/
	padding: 0;
}
.right-text h2{
	text-align: left;
	color: #392113;
	text-transform: uppercase;
	font-size: 1.5em;
	letter-spacing: 0;
}
.image-container{
  /*display: inherit;
  float: left;
  width: 45%;
  position: absolute;
  bottom: 5%;
  left: 0;
  padding-left: 2%;
  padding-right: 10px;*/
  /*padding-bottom:2%;*/
  text-align: center;
  vertical-align: bottom;
}
.image-container img{
  max-width: 90%;
  max-height: 220px;
}
.bottom-item{
	position: absolute;
	bottom: 0;
	right: 0;
	padding-right: 2em;
	width: 54%;
}
.pizza-button{
	color: #ffffff !important;
	background: #A03123;
	border: none;
	width: 100%;
	text-transform: uppercase;
	font-size: 1em;
	font-weight: 700;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.pizza-button:hover{
	background: #902113;
}

.loading{
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0,0,0,0.8);
}
.loading-message{
	position: fixed;
	width: 185px;
	height: 115px;
	background: #222 url(../images/loading-bar.gif) no-repeat 50% 80%;
	top: 50%;
	left: 50%;
	border-radius: 5px;
	padding: 20px;
	font-size: 11px;
	margin-left: -92px;
	margin-top: -57px;
	color: #392113;
	text-transform: uppercase;
	text-align: center;
}
.loading-message .logo{
	display: block;
	height: 37px;
	width: 96px;
	background: url(../images/bg_sprite_icons.png) no-repeat -1158px -13px;
	margin: 0 auto 3px;
	outline: none;
}

/*Model*/
.modal-header {
	background: #9f3122;
	height:12px;
}
.modal-header h2 {
	/*font-size: 1.875em;*/
	text-transform: uppercase;
	text-align: center;
	color: #fff !important;
}
/*.modal-header .close {
	margin-top: 11px;
	width: 1.5em;
	height: 1.5em;
	border-radius: 8px;
	background-color: #A03123;
	z-index: 999;
	color: #fff;
	top: -20px;
	font-size: 1.5em;
}*/
.modal-header .close {
    background: #9C3223;
    color: white;
    width: 50px;
    height: 30px;
    line-height: 30px;
    font-size: 25px;
    float: right;
    position: relative;
    text-align: center;
    cursor: pointer;
    -webkit-border-top-right-radius: 12px;
    -webkit-border-bottom-left-radius: 12px;
    -moz-border-radius-topright: 12px;
    -moz-border-radius-bottomleft: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin-top: -15px;
    z-index: 999;
    right:-15px;
}
.close, .close:hover {
	float: right;
	line-height: 1;
	color: #C1C7CA;
	text-shadow: 0 1px 0 #9A9696;
	opacity: 1;
}
.modal-body{
	background-color: #fff;
}
.border-bottom{
	border-bottom: 1px solid #999999;
}
.margin-bottom-20 {
	margin: 0px 0px 20px 0px;
}
.padding-sides-40 {
	padding: 0px 40px 0px 40px;
}
.carryout-icon {
	display: inline-block;
	margin-top: 19px;
	margin-right: 20px;
	background: url(../images/carryout-icon.png) no-repeat 0 0;
	width: 33px;
	height: 18px;
}
.delivery-icon {
	display: inline-block;
	margin-right: 20px;
	background: url(../images/delivery-icon.png) no-repeat 0 0;
	width: 32px;
	height: 37px;
}
.modal-regular-text{
	cursor: pointer;
} 
.modal-body{
	padding:  15px 0 15px 0 !important;
}
.modal-body label{
	line-height: 50px;
	font-size: 1.0625em;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
}
.modal-body input[type='radio']{
	margin: 4px 0 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid darkgray;
	border-radius: 50%;
	margin-bottom: -5px;
	outline: none;
	box-shadow: 0 0 5px 0px gray inset;
}
.modal-body input[type='radio']:hover {
	box-shadow: 0 0 5px 0px orange inset;
}
.modal-body input[type='radio']:before {
	content: '';
	display: block;
	width: 60%;
	height: 60%;
	margin: 3px 4px;
	border-radius: 50%;
}
.modal-body input[type='radio']:checked:before {
	background-color: #A03123;
}
.formpopup label{
	line-height: 1.2em;
	display: block;
	padding-bottom: .0625em;
	font-size: 1.0625em;
	text-align: left;
	color: #392113 !important;
	font-weight: 700 !important;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
}
.formpopup input{
	background: white;
	border: 1px solid #cccccc;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	color: #444;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	font-size: 1em;
	font-weight: 400;
	text-align: left;
	height: 31px;
	margin:0 0 1.2em 0;
	padding: 0.5em;
	margin: 0 0 1em 0;
	display: block;
	box-sizing: border-box;
	transition: box-shadow 0.45s,border-color 0.45s ease-in-out;
	outline: none;
	width:100%;
}

.formpopup small{
	background-color: rgb(254, 215, 95);
	display: block;
	padding: 0.375em 0.25em;
	margin-top: 0;
	margin-bottom: 1em;
	font-size: 0.75em;
	font-weight: bold;
}
.store-selection-row{
	background-color: #ddd;
	margin-right: 0;
	margin-left: 0;
	padding: 10px 15px 10px 15px;
}
.store-selection-row:hover{
	background-color: #aaa;
}
.store-selection-row .columns{
	color: #392113 !important;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
	font-size: 1.0625em;
	font-weight: 700 !important;
	line-height: 1.2em;
	padding-bottom: 0.0625em;
	text-align: left;
}
.store-selection-row .button{
	text-align: center;
	width: 100%;
	height: 45px;
	margin-top: 14px;
	padding: 0 !important;
	line-height: 31px;
	font-size: 1.25em;
	color: #fff !important;
	background: #A03123;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
	text-transform: uppercase;
}

.productitem{
  padding: 0;
  float: left;
  min-height: 200px;
}
.popup_title{
  float: left;
}
.popup_title h2{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5em;
}

.note_product{
	width:100%;
	height: 105px;
	border-radius: 5px;
	margin-bottom: 15px;
	padding: 10px;
	border: 1px solid #333;
	border-radius: 5px;
}

.note_product:focus{
	 outline: none;
}
#modalProductOptions .modal-body{
	background:#fff;
	background-size: cover;
}
#modalProductOptions .modal-content{
	background:#fff;
	background-size: cover;
}
.popup_image{
  float: left;
}
.popup_image img{
  max-width: 90%;
  float: left;
  margin-top: 5%;
}
.popup_prices{
  min-height: 200px;
  float: left;
  padding: 0;
}
.popup_amount{
  float: left;
  border:1px solid #A03123;
  padding: 10px 0;
}

.popup_content .tabs{
  display: table;
  float: left;
  width: 100%;
  /*background: none;*/
}
.popup_amount input, .cartbox_qty input{
   width: 60px;
   min-width: 60px;
    float: left;
    height: 43px;
    line-height: 35px;
    z-index: 99;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    border: none;
    background-color: transparent;
    margin: 0 -2px 0 2px;
    color: #fff;
}
.mainbt.up,
.mainbt.down{
	font-size: 3em !important;
}
.add_note_product{
	font-size: 1em;
}
.popup_price{
    float: left;
    text-align: center;
    font-size: 2em;
    line-height: 43px;
    font-weight: bold;
    color: #392113;
    border-right:1px solid #A03123;
    border-top:1px solid #A03123;
    border-bottom:1px solid #A03123;
    padding: 10px 0 10px 0;
}
.popup_amount input{
	color: #392113 !important;
}
.popup_add_bt{
	float: right;
	margin-top: 2%;
	margin-right: 10px;
	padding: 0 10px;
}
.op_description{
  /*width: 100%;*/
  /*height: 140px;*/
  min-height: 27px;
  overflow: auto;
  clear: both;
  /*padding-left:50%;*/
}
.mainbt{
  width: 25px;
  height: 34px;
  line-height: 20px;
  float: left;
  font-size: 4em;
  background: transparent !important;
  border:none;
  color:#A03123;
}
.mainbt:hover,.mainbt:active{
	border: none !important;
	box-shadow: none !important;
}
.popup_add_bt button{
  font-size: 1.2em;
  font-weight: bold;
  color: white;
    line-height: 1.5em;
    padding: 5% 25% 5% 25%;
  text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    /*border: 1px solid #ddd;*/
    border-radius: 6px;
}
.popup_tab button{
    float: left;
    position: relative;
    /*margin-top: -68px;*/
    margin-right: 12px;
    font-size: 1em;
    padding: 15px 25px 15px 25px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
.popup_tab .continue{
    padding-left: 0;
    padding-right: 0;
}
.popup_tab .product_tab{
	font-size: 1em;
	border-bottom: 0 !important;
	padding-bottom: 1px;
}
input:focus, button:focus{
	outline: none !important;
}
.bg-org{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb76b+0,ffa73d+50,ff7c00+51,ff7f04+100;Orange+Gloss */
background: rgb(255,183,107); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,183,107,1) 0%, rgba(255,167,61,1) 50%, rgba(255,124,0,1) 51%, rgba(255,127,4,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,183,107,1)), color-stop(50%,rgba(255,167,61,1)), color-stop(51%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,183,107,1) 0%,rgba(255,167,61,1) 50%,rgba(255,124,0,1) 51%,rgba(255,127,4,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=0 ); /* IE6-9 */
  
}
.popup_tab{
  padding: 0px 10px 0px 10px;
}
.popup_tab .product_tab li{
  margin-top: 10px;
}
.popup_option{
  width: 100%;
  padding:  0  0 0 0;
  clear: both;
  overflow: hidden;
  height: 328px
}

.option_item_active .option_item_block{
  border-width: 2px;
  border-style: solid;
  border-color: #A03123;
  margin-top: -4px;
}
.option_item:nth-child(4n+0) .option_item_block{
	margin-top: 5px !important;
}

.option_item{
  margin: 5px 0 10px 0;
  float: left;
  text-align: center;
  padding: 20px 10px;
}

.option_item .titbox{
  width: 100%;
  height: 50px;
  overflow: hidden;
}
.option_item .titbox h3{
  font-size: 1.2em;
}
.option_item .imagebox{
  width: 100%;
  height: 60px;
  vertical-align: middle;
  position: relative;
}
.option_item .imagebox img{
  max-width: 94px;
  max-height: 60px;
}
.option_item .ximg{
	position: absolute;
	top: -3px;
	left: 40%;
}
.option_item .mainbt{
  float: left;
  font-size: 45px;
  text-align: center;
  width: 35%;
  color:#A03123;
  font-weight: bold;
  background: transparent;
  border: none;
}
.popup_amount .down{
    padding: 0 0 0 0;
    color: #392113 !important;
    text-align: right;
}
.popup_amount .up{
    text-align: left;
    padding: 5px 0 0 0;
}
.option_item .popup_amount{
  padding: 5px 0px 5px 0px;
  width: 100%;
  border:none;
}
.option_item .popup_amount input{
  width: 30%;
  margin: 0;
}
.option_item .popup_amount select{
  width: 40%;
    float: left;
    margin-top: 13px;
}
.btforselect{
  text-align: inherit !important;
  width: 30% !important;
  font-size: 35px! important;
}

.message_box{
	position: absolute;
	top: 50px;
	z-index: 100;
	color: red;
	width: 100%;
	text-align: center;
}

.scroller{
  width: 100%;
  display: table;
  margin: auto;
  height: auto;
  /*margin-bottom: 15%;*/
}

.map-icon {
	display: block;
	background: url(../images/map-icon.png) no-repeat 0 0;
	background-size: 24px;
	width: 24px;
	height: 24px;
	margin-top: 18px;
	float: left;
}
.localtext{
	padding-top: 1.2em;
	padding-left: 0;
	padding-right: 0.5em;
}
.white-caps{
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 1.2125em;
	line-height: 1.4em;
	text-align: center;
	color: #fff !important;
	font-weight: 700 !important;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
}
.ortext{
	text-align: center;
	padding: 27px 0px 0px 0px;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	font-size: 21px;
}
.ortext2{
	padding-top: 11px;
}
.popup-button{
	font-size: 1.25em;
}
.modal-footer {
	background-color: #fff;

}
.fixwidth{
	padding-left: 0;
	padding-right: 0;
}
.sign-input{
	width:100%;
}
.remembercheck{
	text-align: left;color:#A03123;line-height: 30px;
}
.remembercheck input[type="checkbox"]{
	float:left;
}      
.count-total-wrapper {
	text-align: right;
	margin-right: -9px;
	margin-top: 20px;
}
.count-total-wrapper .total {
	color: #a03123;
	margin-right: 14px;
	font-size: 29px;
	font-weight: 800;
	font-family:FF-FallingSkyBd,"Falling Sky",sans-serif;
	margin-top: 7px;
	/*background: #392113;*/
	padding: 5px;
	border-top-right-radius:10px;
	border-bottom-right-radius:10px;
}
.basket-icon{
	color: #a03123;
	height: 42px;
	font-size: 26px;
	text-align: center;
	margin-top: 1px;
	margin-right: 0.25em;
	display: inline-block;
}
#menu-mobile .basket-icon{
	font-size: 1em;
}
 .basket-icon .count {
	display: inline-block;
	text-align: center;
	margin-top: 21%;
	padding-right: 11px;
	font-size: 1.1em;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
}


.filter-option{
	color: rgb(34, 34, 34);
	cursor: pointer;
	direction: ltr;
	display: block;
	font-family:FF-FallingSkyBd,"Falling Sky",sans-serif;
	font-size: 1.3em;
	font-style: normal;
	font-weight: normal;
	margin: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
	padding: 0px;
	text-align: left;
}

.caret{
	top: 30%!important;
	-webkit-font-smoothing: antialiased;
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	box-sizing: border-box;
	color: rgb(198, 16, 23);
	cursor: pointer;
	direction: ltr;
	display: block;
	float: right;
	font-family: 'FontAwesome';
	font-size: 1.2em;
	font-style: normal;
	font-weight: normal;
	height: 17px;
	line-height: normal;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5.008px;
	outline-color: rgb(198, 16, 23);
	outline-style: none;
	outline-width: 0px;
	position: relative;
	text-align: left;
	text-decoration: none;
	vertical-align: baseline;
	white-space: nowrap;
	width: 14.8594px;
	border:none!important;
}
.caret:before {
	content: "\f078";
	display: inline-block;
	height: 17px;
	text-decoration: none;
	width: 14.8594px;
}
.open .caret:before{
	content: "\f077";
}
.selectbox, .selectbox50{
	bottom: 60px;
}
.selectdiv{
	margin-bottom: 5%;
}
.selectbox .selectdiv{
	float: left;
	width: 100%;
}
.selectbox50 .selectdiv{
	float: left;
	width: 48%;
}
.selectbox50 div:first-child{
	margin-right: 4%;
}
.dropdown-menu{
	background: #1e1e1e;
}
.dropdown-menu li a{
	color: white;
}
.dropdown-menu li a:hover{
	background: red;
	color: white;
}

.navbar-header{
display: block!important;
}

.show-for-medium, .show-for-medium-up {
	display: inherit !important;
}

.main_wrap{
	background:#392113;
	color:#fff;
	padding: 20px;
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.main_wrap *:not(.fa){
	 font-family: FF-FallingSkyBd,"Falling Sky",sans-serif !important;
}
.main_wrap_title,.white_block_title{
	font-size: 1.4em;
	line-height: 1.4em;
	width: 100%;
	clear: both;
	margin-bottom: 35px;
	text-align: center;
}
.main_wrap .contact-us h1,
.main_wrap .contact-us h2,
.main_wrap .contact-us h3,
.main_wrap .contact-us h4,
.main_wrap .contact-us h5,
.main_wrap .contact-us label,
.main_wrap .contact-us p{

	color: #fff;
}
span.ball{
	padding: 10px 14px;
	border-radius: 100px;
	color: #222;
	background: #fff;
	display: inline-block;
}

.white_block{
	background:#fff;
	color:#222;
	padding:20px;
	margin-top: 25px;
}
.white_block .block{
	padding: 5px;
	margin-bottom: 20px;
}

.white_block .block p{
	color:#222;
}
.white_block .block a{
	color:#A03123;
	text-decoration: underline;
}

.white_block .block .red{
	color:#f00 !important;
}

.right_title{
	font-size: 1.3em;
	text-align: center;
	line-height: 1.3em;
	margin-bottom: 10px;
}

.right_list{
	font-size: 1.1em;
	line-height: 1.1em;
}
.right_list li{
	margin-bottom: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b{
	border-color: #F00 transparent transparent transparent;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b{
	border-color: transparent transparent #F00 transparent;
}

.select2-container{
	font-family:FF-FallingSkyBd,"Falling Sky",sans-serif !important;
	font-size: 12pt;
}

.select2-dropdown{
	background: #222;
	color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected]{
	background: #fed75f;
	color: #222;
}

/*.btn-default{
	color: #ffffff !important;
	background: #827c7b;
}

.btn-default:hover{
	color: #ffffff !important;
	background: #524c4b;
}*/

.btn-facebook{
	background: #4f6597;
	color: #fff !important;
}
.btn-facebook:hover{
	background: #3f5587 !important;
}

.modal-title{
	line-height: 40px;
}


.rounded-5{
	border-radius: 5px;
}

.rounded-10{
	border-radius: 10px;
}

.rounded-15{
	border-radius: 15px;
}

.grey_block{
	background:#E1E3E7;
	color:#222;
	padding:20px;
}

.grey_block p{
	color: #222;
	line-height: 1.6;
}

.grey_block p a{
	color: #222;
	text-decoration: underline;
}

@media (min-width: 992px){
	.fitem {
		width: 20%;
	}
}

.social_footer{
	color:#fff;
	font-family:FF-FallingSkyBd,"Falling Sky",sans-serif;
}
.social_footer a{
	display:block;
	float:left;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
	color: #fff;
}
.social_footer a:hover{
	background: #c61017;
	text-decoration: none;
}

.social_footer #fb_icon{
	height: 30px;
	width: 30px;
	display:block;
	background: url(../images/bg_sprite_icons.png) no-repeat -212px -10px;
}
.social_footer #inst_icon{
	height: 30px;
	width: 30px;
	display:block;
	background: url(../images/inst-icon.png) no-repeat;
}
.social_footer #tw_icon{
	height: 30px;
	width: 30px;
	display:block;
	background: url(../images/bg_sprite_icons.png) no-repeat -261px -10px;
}
.social_footer #yt_icon{
	height: 30px;
	width: 30px;
	display:block;
	background: url(../images/bg_sprite_icons.png) no-repeat -409px -10px;
}



.nav_cart{
	margin-left: 0;
	margin-right: 0;
	/*margin-top:20px;*/
}
.nav_cart .step{
	width:25%;
	height:40px;
	padding: 10px 25px;
	margin:0;
	display: inline-block;
	color: #fff;
	background:#222;
	text-align: center;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	font-size: 1.3em;
	text-transform: uppercase;
}
.nav_cart .step:first-child{
	cursor: pointer;
	border-top-left-radius: 10px;
}

.nav_cart .step:last-child{
	border-top-right-radius: 10px;
}

.nav_cart .step span:first-child{
	margin-left: -15%;
}

.step .end{
	
	display: inline-block;
	float: right;
}
.step:not(:last-child) .end:after{
	content: "";
	border-left: 25px solid #222;
	position:absolute;
	width:40px;
	height: 40px;
	border-bottom:20px solid transparent;
	border-top:20px solid transparent; 
	top:0;
	right:0px;
}
.step:not(:last-child) .end:before{
	border-left: 25px solid #AAA;
	margin-left: 1px;
	content: "";
	position:absolute;
	width:40px;
	height: 40px;
	border-bottom:20px solid #222;  
	border-top:20px solid #222;  
	top:0;
	right:-6px;
}
.step.complete.last .end:after{
	content: "";
	border-left: 25px solid #222;
	position:absolute;
	width:40px;
	height: 40px;
	border-bottom:20px solid transparent;
	border-top:20px solid transparent; 
	top:0;
	right:0px;
}
.step.complete.last .end:before{
	border-left: 25px solid #AAA;
	margin-left: 1px;
	content: "";
	position:absolute;
	width:40px;
	height: 40px;
	border-bottom:20px solid #A03123;  
	border-top:20px solid #A03123;  
	top:0;
	right:-6px;
}

.nav_cart .step:not(:last-child).here .end:before{
 border-left: 25px solid #A03123;
}

.nav_cart .step:not(:last-child).here .end:after{
 border-left: 25px solid #A03123;
}

.nav_cart .step:not(:last-child).prev .end:before{
 border-bottom: 20px solid #A03123;
 border-top:20px solid #A03123;
}

.nav_cart .step:not(:last-child).prev .end:after{
 border-bottom: 20px solid #A03123;
 border-top:20px solid #A03123;
}
	

.nav_cart .step.here{
	background: #A03123;
}
.nav_cart .step.here a span,.nav_cart .step.complete a span{
	color: #FFF;
}
.nav_cart .step:first-child:hover{
	background: #fff;
}
.nav_cart .step:first-child:hover > a span{
	color: #A03123;
}
.nav_cart .step:first-child:hover .end:before{
 border-left: 25px solid #fff;
}

.nav_cart .step:first-child:hover .end:after{
 border-left: 25px solid #fff;
}


.nav_cart .step span:before{
	margin-right: 3px;
}
.nav_cart .step:nth-child(1) span:first-child:before{
	content: "1.";
}
.nav_cart .step:nth-child(2) span:first-child:before{
	content: "2.";
}
.nav_cart .step:nth-child(3) span:first-child:before{
	content: "3.";
}
.nav_cart .step:nth-child(4) span:first-child:before{
	content: "4.";
}

.nav_cart .step.complete:nth-child(1) span:first-child:before{
	content: "\f05d";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}
.nav_cart .step.complete:nth-child(2) span:first-child:before{
	content: "\f05d";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}
.nav_cart .step.complete:nth-child(3) span:first-child:before{
	content: "\f05d";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}
.nav_cart .step.complete:nth-child(4) span:first-child:before{
	content: "\f05d";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	-webkit-font-smoothing: antialiased;
}


@media (max-width: 992px){
	.nav_cart .step:nth-child(n+2){
	border-left: 1px dotted #fff;
	}
}
.uppercase{
	text-transform: uppercase;
}

.main_cart{
	background: rgba(57, 33, 19, 0.5);
	padding: 20px 0;
	color: #fff;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	border: 2px solid #392113;
}
.main_cart_empty{
	background: rgba(57, 33, 19, 0.5);
	padding: 20px 0;
	color: #fff;
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	border: 2px solid #392113;
}
.main_cart_empty p, .main_cart_empty h1{
	color: #fff;
}

.main_cart .note{
	color: #fff;
    font-family: Arial;
    font-size: 1em;
    font-style: italic;
}

.btn-carryout{
	font-size: 1em;
	padding: 3px 20px;
}

#order_summary #address{
	font-size: 24px;
	line-height: 24px;
}

#main_cart .row{
	margin:30px 0;
}
#order_summary #list_product{
	margin-bottom: 0;
}

#order_summary #list_product .item{
	width:100%;
	border-bottom: 1px solid #fff;
	float:left;
	padding: 20px;
	font-size: 1.3em;
}

#order_summary #list_product .item .options{
	font-size: 0.8em;
}

#order_summary .img-thumb{
	max-width: 100%;
	width:100%;
}

#cartbox{
	float: left;
}
.cartbox{
	width: 94%;
	margin: 3%;
	display: table;
}
.cartbox_item{
	padding: 20px;
	float: left;
	display: table;
}
.cartbox_item:nth-child(even){
	background-color: #ddd;
}
.cartbox_item:nth-child(odd){
	background-color: #fff;	
}

.cartbox_des{
	/*width: 60%;*/
	float: left;
}
.cartbox_img{
	/*width: 25%;*/
	float: left;
}
.cartbox_img img{
	width: 100%;
}
.cartbox_name{
	width: 70%;
	float: right;
}
.cartbox_name h3{
 margin: 0;
 padding: 0;
 line-height: 30px;
}
.cartbox_qty{
	/*width: 20%;*/
	/*max-width: 160px;*/
	float: left;
	text-align: center;
}
.order_cartbox_qty{
	width: 30%;
	max-width: 225px;
	float: left;
	text-align: center;
}
.order_cartbox_price{
	width: 20%;
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 40px;
    text-align: right;
}
.cartbox_qty h3{
	margin:0;
	padding: 0;
}
.qtybox{
	width: 150px;
	margin: auto;
}
.cartbox_customer_info{
	width: 25%;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 0px;
    text-align: left;
}
.cartbox_price{
	/*width: 15%;*/
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-top: 7px;
    /*padding-right: 40px;*/
    text-align: right;
}
.cartbox_quantity{
	width: 5%;
    float: left;
    font-size: 28px;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 0px;
    text-align: right;
}
.cartbox_order{
	width: 15%;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding-top: 7px;
    padding-right: 0px;
    text-align: right;
}
.cartbox_action{
	width: 15%;
    float: left;
    padding-top: 7px;
    padding-right: 0px;
    text-align: right;
}
.btedit{
	font-size: 1em;
	float: none;
	width: auto;
	margin-top: 10px;
	font-weight: bold;
	line-height: 25px;
	height: 40px;
	font-weight: bold;
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#combo_alert{
	color   : red;
	position: fixed;
	z-index : 1000;
	padding:10px;
	margin-left:-10%;
	background-color: #D8B6B2!important;
}
.comboitem{
	font-size: 1em;
	font-weight: bold;
	clear: both;
	display: block;
	text-transform: capitalize;
}
.combo_cartitem{
	background-color: #D8B6B2!important;
}
.combo_option{
	border-left: 5px solid #D8B6B2!important;
	/*border-right: 5px solid #D8B6B2!important;*/
}
.combo_icon{
	background: yellow;
	width: 50px;
	height: 100px;
}
.combo_des{
	width: 100%;
}
.combo_name{
	width:60%;
}
.combo_name h3{
	font-size:15px;line-height:20px;font-weight:bold;
	text-align: left;
}
.combo_img{
	width:40%;
}
.combo_imgbox{
	height:150px;width:100%;clear:both;
}
.combo_imgbox img{
	max-height: 140px;max-width: 95px;width:95px;
}
.user_group_box{
	padding: 1%;
	background-color: #F3DAB2!important;
}
.ofgroup{
	border-left: 10px solid #F3DAB2;
}

.input_number input{
	color:#222;
	font-size: 1.4em;
	background: #fff;
	width:1.6em;
	margin: 10px 0px;
	padding: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: #666666 2px 2px 6px 0px inset;
}
.input_number .spinner{
	color: #fff;
	font-size: 13px;
	
}
.input_number .spinner i.fa{
	position: absolute;
	padding: 4px;
	margin-left: -3px;
	cursor: pointer;
}

.input_number .spinner i.fa-caret-down{
	bottom:42px;
	background: #555;
	border-bottom-right-radius: 5px;
	
}

.input_number .spinner i.fa-caret-up{
	top:26px;
	background: #888;
	border-top-right-radius: 5px;
	padding-bottom: 5px;
}

#order_summary #list_product .price{
	font-size: 1.4em;
}

#order_summary .row{
	margin-left:0;
	margin-right:0;
}

#order_summary #random_product{
	background: #392113;
	border-top: 1px dashed #fff;
	border-bottom: 1px dashed #fff;
	padding: 30px;
	margin-top: 0;
}
#order_summary #random_product .select_product{
	color:#222;
	padding: 10px;
}

#order_summary #random_product .input_number input{
	font-size:1.4em;
	width:1.6em;
	margin-left: 10px;
}

#order_summary #random_product .input_number .spinner{
	margin-right: 24px;
}

#order_summary #random_product .input_number .spinner .up{
	top:72px;
	border-radius: 0;
	padding: 5px 10px 5px 10px;
}

#order_summary #random_product .input_number .spinner .down{
	bottom:10px;
	border-radius: 0;
	padding: 5px 10px 5px 10px;
}

#order_summary #random_product .input_number .btn-danger{
	width:210px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	height: 43px;
	margin-top: -12px;
	font-size: 1.4em;
}
#order_summary #total{
	margin-top: 20px;
}

#order_summary #total #submit_coupon{
	background: rgba(128,128,128,0.4);
	color:#AAA;
	border:none;
}
#order_summary #total .line{
	margin: 10px 0;
}


#order_summary #total .text-right{
	font-size: 1.4em;
}

#order_summary #total #total_amount{
	font-size: 1.5em;
}

#checkout{
	background: none;
}
#checkout #head,#checkout #signin,
#checkout #my_order,#checkout #carryout{
	margin: 0;
	padding: 20px;
	background: rgba(0,0,0,0.4);
}

#checkout #carryout{
	margin-top: 20px;
}

#checkout #head{
	border-bottom: 1px solid #fff;
}

#checkout #my_order .title{
	font-size: 1.4em;
	height: 30px;
	margin-bottom: 20px;
	border-bottom: 2px solid #392113;
}
#checkout #my_order .note{
	clear: both;
	color: #fed75f;
	display: block;
}

#checkout #my_order .price{
	font-size: 1.3em;
	color: #fed75f;
}

#checkout #my_order .item{
	margin: 15px -15px;
}

#checkout #carryout .address{
	font-size: 1.4em;
	line-height: 24px;
	margin-top: 20px;
}

#signin .block{
	margin:15px;
}


#details{
	background: none;
}
#details #head,#details #signin,
#details #my_order,#details #carryout,#details #info{
	margin: 0;
	padding: 20px;
	background: rgba(0,0,0,0.4);
}

#details #carryout{
	margin-top: 20px;
}

#details #head{
	border-bottom: 1px solid #fff;
}

#details #my_order .title{
	font-size: 1.4em;
	height: 30px;
	margin-bottom: 20px;
	border-bottom: 2px solid #392113;
}
#details #my_order .note{
	clear: both;
	color: #fed75f;
	display: block;
}

#details #my_order .price{
	font-size: 1.3em;
	color: #fed75f;
}

#details #my_order .item{
	margin: 15px -15px;
}

#details #carryout .address{
	font-size: 1.4em;
	line-height: 24px;
	margin-top: 20px;
}

.red{
	color: #A03123;
}

.select2-container--default .select2-results__option[aria-selected=true]{
	background: #fed75f;
	color: #222222;
}

#details .ship_later{
	display: none;
}

#details .ship_later .select2{
	min-width: 150px;
}

#details #info .block{
	margin: 15px 0;
}
#modalProduct .modal-dialog{
	width:90%;
	}
#modalProduct #category_list{
	padding-right: 30px;
}
#modalProduct #category_list .btn{
	margin-bottom: 0.5em;
}
#modalProduct #product_list{
	padding-left: 30px;
}
.red-button{
	color: #ffffff !important;
	background: #A03123;
	border: none;
	text-transform: uppercase;
	font-size: 1.2em;
	font-weight: 700;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}
.red-button:hover,.red-button:active,.red-button.active{
	background: #c61017 !important;
}
#modalProduct .modal-body .row#product_list{
	height: 80vh; 
}

#product_grid{
	margin-top: 10px;
	overflow: hidden;
	padding:0;
	margin-left: 5px;
}
#product_grid .scroller{
	position: absolute;
	z-index: 1;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	width: 100%;
}
#product_grid .col-md-4{
	padding: 10px;
}
#product_grid .product_item{
	border: 2px solid #fff;
	padding: 10px;
	border-radius: 10px;
	height:100%;
}
#product_grid .product_item_img{
	text-align: center;
}
#product_grid .product_item_img img{
	max-width: 100%;
	height: 120px;
	margin-bottom: 10px;
}
#product_grid .description_item{
	display:block;
	color: #fff;
	clear: both;
}
.description_item{
	font-family: FF-FallingSkyBd,"Falling Sky",sans-serif;
	line-height: 1.3em;
	color: #a03123;
}
#product_grid .off_in_small{
	color: #fff;
	font-size:80%;
}
#product_grid .product_item_price{
	color:#fff;
	font-size: 125%;
}

#product_grid .add_to_cart{
	position     : absolute;
	background   : #A03123;
	padding      : 15px;
	color        : #fff;
	border-radius: 20px;
	width        : 45px;
	height       : 45px;
	text-align   : center;
	bottom: 20px;
	right: 20px;
	opacity: 0;
-webkit-transition: all 300ms cubic-bezier(0.5, 0.0, 0.000, 1.000); 
	 -moz-transition: all 300ms cubic-bezier(0.5, 0.0, 0.000, 1.000); 
	 -o-transition: all 300ms cubic-bezier(0.5, 0.0, 0.000, 1.000); 
		transition: all 300ms cubic-bezier(0.5, 0.0, 0.000, 1.000); /* custom */

-webkit-transition-timing-function: cubic-bezier(0.5, 0.0, 0.000, 1.000); 
	 -moz-transition-timing-function: cubic-bezier(0.5, 0.0, 0.000, 1.000); 
	 -o-transition-timing-function: cubic-bezier(0.5, 0.0, 0.000, 1.000); 
		transition-timing-function: cubic-bezier(0.5, 0.0, 0.000, 1.000); 
}
#product_grid .product_item:hover > .add_to_cart{
	opacity: 1;
}
#product_grid .add_to_cart:active,
#product_grid .add_to_cart:hover{
	background: #c61017 !important;
	cursor: pointer;
}
.temp-text-right{
	text-align: right;
}
.mobile-show{
	display:none !important;
}
.nopadding{
	padding-left: 0 !important;
	padding-right: 0 !important;
}
#logo h2{
	margin-top: 10px;
}
.toggle-menu-mobile{
	position: absolute;
	top:2px;
	left:5px;
}
#menu-mobile{
	width     : 280px;
	top       : 0;
	bottom    : 0;
	height    : 100%;
	position  : fixed;
	overflow-y: auto;
	z-index   : 1001;
	box-sizing: content-box;
	border-right:1px solid #fff; 
}
#mobile{
	display:none;
}
#desktop{
	-webkit-transition: all 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	-moz-transition: all 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	-o-transition: all 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	transition: all 250ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
	
	-webkit-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	-moz-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	-o-transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); 
	transition-timing-function: cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */
}

#menu-mobile ul{
	padding-left: 0;
	padding-top: 20px;
}
#menu-mobile ul li{
	padding-left: 0;
}
#menu-mobile ul li a{
	color: #A03123;
	font-size: 1.2em;
	line-height: 1.2em;
	margin: 10px 10px 10px 15px;
	display: block;
}
#menu-mobile ul li ul{
	padding-top: 0;
	padding-left: 15px;
	background: #392113;
}
#menu-mobile ul li ul li{
	padding: 5px 5px 5px 15px;
	margin-left: -10px;
	border-bottom: 1px solid #fff;
}
#menu-mobile ul li ul li a{
	color: #fff;
	font-size: 1.2em;
}
#menu-mobile .sub_menu{
	display: none;
}
.btn-danger{
	background: #A03123 !important;
}
.btn-danger:hover,.btn-danger:active,.btn-danger.active,.btn-danger:focus{
	background: #902113 !important;
}
.bg-std{
	background: rgba(57, 33, 19, 0.5);
	border: 2px solid #392113;
}

.brown_block{
	background: rgba(57, 33, 19, 0.5);
	color: #FFF;
	padding: 20px;
	margin-top: 25px;
	border: 2px solid rgb(57, 33, 19);
}
.brown_block *:not(a){
	color: #fff;
}
#canvas_captcha{
	width: 200px;
	height: 50px;
	padding: 6px 12px;
	background: #fff;
	border-radius: 4px;
	vertical-align: middle;
}

.bootstrap-datetimepicker-widget{
	background: #fff;
	color: #333;
}

.bootstrap-datetimepicker-widget .btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4
}
.bootstrap-datetimepicker-widget .btn-primary:hover,
.bootstrap-datetimepicker-widget .btn-primary:focus,
.bootstrap-datetimepicker-widget .btn-primary.focus,
.bootstrap-datetimepicker-widget .btn-primary:active,
.bootstrap-datetimepicker-widget .btn-primary.active,
.bootstrap-datetimepicker-widget .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #286090;
    border-color: #204d74
    border-width:1px;
    box-shadow: none !important;
}
.bootstrap-datetimepicker-widget .btn-primary:active,
.bootstrap-datetimepicker-widget .btn-primary.active,
.bootstrap-datetimepicker-widget .open>.dropdown-toggle.btn-primary {
    background-image: none
}
.bootstrap-datetimepicker-widget .btn-primary.disabled,
.bootstrap-datetimepicker-widget .btn-primary[disabled],
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary,
.bootstrap-datetimepicker-widget .btn-primary.disabled:hover,
.bootstrap-datetimepicker-widget .btn-primary[disabled]:hover,
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary:hover,
.bootstrap-datetimepicker-widget .btn-primary.disabled:focus,
.bootstrap-datetimepicker-widget .btn-primary[disabled]:focus,
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary:focus,
.bootstrap-datetimepicker-widget .btn-primary.disabled.focus,
.bootstrap-datetimepicker-widget .btn-primary[disabled].focus,
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary.focus,
.bootstrap-datetimepicker-widget .btn-primary.disabled:active,
.bootstrap-datetimepicker-widget .btn-primary[disabled]:active,
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary:active,
.bootstrap-datetimepicker-widget .btn-primary.disabled.active,
.bootstrap-datetimepicker-widget .btn-primary[disabled].active,
.bootstrap-datetimepicker-widget fieldset[disabled] .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4
}
.bootstrap-datetimepicker-widget .btn-primary .badge {
    color: #337ab7;
    background-color: #fff
}
.bootstrap-datetimepicker-widget .btn{
	background-image: none !important;
}

@media only screen and (max-width: 1024px){
	#main_menu #navbar .navbar-nav>li{
		height: 60px !important;
	}
	.temp-col-xs-6{
		width:50% !important;
		float:left;
	}
}

@media only screen and (max-width: 768px){
	.product_left{
		margin-top: 10px;
	}
	.banner-control-bar-prev{
		display: block !important;
		top:10vw !important;
		left:-10px !important;
		width: 25px !important;
		height:25px !important;
	}
	.banner-control-bar-next{
		display: block !important;
		top:10vw !important;
		right:-10px !important;
		width: 20px !important;
		height:25px !important;
	}
	.banner-header-holder .banner-container .banner-control-bar-prev a,
	.banner-header-holder .banner-container .banner-control-bar-next a{
		width:20px !important;
		height:25px !important;
	}
	.banner-header-holder .banner-container .banner-control-bar-prev a{
		background-position-x: -50px !important;
    		background-position-y: -435px !important;
	}
	.banner-header-holder .banner-container .banner-control-bar-next a{
		background-position-x: -150px !important;
    		background-position-y: -435px !important;
	}

	
	.popup_image img{
		max-width: 100%;
		max-height: 120px;
	}
	#menu-mobile{
		margin-top: 100px;
	}
	.main-content{
		margin-top: 80px !important;
		overflow: hidden;
	}
	.mobile-show{
		display: block !important;
	}
	.mobile-show .navbar-toggle{
		display: block !important;
	}
	.mobile-hide{
		display: none !important;
	}
	.header .col-md-3{
		display:none !important;
	}
	.header #logo{
		margin-left: 22.5% !important;
	}
	.menufooter .col-xs-2{
		width:50% !important;
		float:left;
	}
	.menufooter .col-xs-4{
		width:100% !important;
		float:left;
	}
	.navbar-nav{
		margin: 0 !important;
	}
	.navbar-nav li{
		width:100% !important;
		text-align: left;
		border: 1px solid #fff !important;
		border-radius: 0 !important;
	}
	.navbar-nav li:hover,.navbar-nav li:active,.navbar-nav li.active{
		border-bottom: 4px solid #A03123 !important;
	}
	.pizzabanner h1{
		width:100% !important;
		font-size: 2em;
	}
	.pizzabanner img{
		display:none !important;
	}
	#main_menu #navbar .navbar-nav>li{
		height: 50px !important;
	}
	.temp-text-right{
		text-align: left !important;
	}
	.temp-col-xs-6{
		width:100% !important;
		text-align: center !important;
	}
	#main_menu{
		display:none !important;
	}
	.popup_add_bt{
		margin-right: 0 !important;
	}
	.modal-dialog{
		width:100% !important;
		margin:0 !important;
	}
	.popup_tab{
		margin-top: 35px !important;
	}
	.popup_tab button{
		margin-top: -118px;
	}
	.popup_tab button.backlevel{
		margin-right: 43% !important;
	}
	.option_item{
		margin:0 !important;
	}
	.option_item_active ,.option_item_block{
	  border-width: 2px;
	  border-style: solid;
	  border-color: #A03123;
	  margin-top: -4px;
	}
	.popup_option{
		padding-top:10px !important;
		height: auto !important;
		overflow: visible !important;
	}
	.option_item .ximg{
		left:43.5% !important;
	}
	.right-text h2{
		font-size: 1.6em !important;
	}
	.image-container img{
		margin-top: 5px !important;
		max-height: 150px !important; 
	}
	.popup_prices{
		min-height: 0;
	}
	.nav-tabs>li a{
		border:1px solid #ddd !important;
		border-radius: 0 !important;
	}
	.center-text-mobile{
		text-align: center !important;
	}
	.order_menu_mobile{
		width:90%;
		background: #9f3122;
		color: #fff !important;
		padding: 10px 0 10px 0;
		text-align: center;
		font-size: 1.2em !important;
	}
	.tab-content>.active{
		display: block;
		clear: both;
		height: 100%;
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	.title_group_option_mobile{
		font-size: 1.2em;
		background: #392113;
		color: #fff;
		line-height: 1.2em;
		height: -3.8em;
		clear: both;
		padding: 10px;
		text-align: center;
	}
	.ja_btn{
		padding: 12px 24px !important;
		text-transform: uppercase;
	}
	.ja_close{
		display: none !important;
	}
	.main_wrap {
		padding: 0 !important;
	}
	.nav_cart .step:nth-child(1) span:first-child:before{
		content: "" !important;
	}
	.nav_cart .step:nth-child(2) span:first-child:before{
		content: "" !important;
	}
	.nav_cart .step span:first-child{
		margin-left: 0 !important;
	}
	#order_summary #list_product .item{
		font-size: 1em !important;
	}
	#main_cart .row{
		margin: 0 !important;
	}
	.input_number .spinner{
		display: none;
	}
	#order_summary #list_product .price{
		font-size: 1.2em !important;
	}
	#order_summary #total #total_amount{
		font-size: 1.3em !important;
	}
	#order_summary #total .text-right{
		font-size: 1.2em !important;
	}
	.nav_cart .step{
		border-radius: 0 !important;
	}

	.cartbox_des{
		width:100% !important;
	}
	.cartbox_qty{
		width:50% !important;
		max-width: 100% !important;
	}

	.cartbox_price{
		width: 50% !important;
		font-size: 1.2em;
	}

	.combo_option{
		border-left:0 !important;
	}
	.combo_name{
		margin-top: 10px;
		margin-bottom: 15px;
		width:50%;
		margin-right: 25px;
	}
	.combo_img{
		padding-left:25px;
	}
	.cartbox_img h3{
		margin-left: 15px;
	}
	.option_item_active{
		border-width: 2px;
		border-style: solid;
		border-color: #A03123;
		margin-top: -4px;
	}
	#combo_alert{
		display: block;
		width: 100%;
		margin-top: 0;
		margin-left: 0;
		text-align: center;
		position: static;
	}
}
@media only screen and (max-width: 767px){
	.header #logo {
	   	 margin-left: 12.5% !important;
	}
}
@media only screen and (min-device-width: 0px) and (max-device-width: 720px){
	.mobile-hide{ visibility: hidden; }
}
/** back to top **/

.cd-top.cd-fade-out {
    opacity: .5;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 100px;
    right: 10px;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(232, 98, 86, 0.8) url(/img/cd-top-arrow.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
@media only screen and (min-width: 1024px){
	.cd-top {
	    height: 60px;
	    width: 60px;
	    right: 30px;
	    bottom: 30px;
	}
}

@media only screen and (min-width: 768px){
	.cd-top {
	    right: 20px;
	    bottom: 20px;
	}
}

/******* banner css *******/

/*BANNER*/
.bannerImages a{
  width: 100%;
}
.bannerImages img{
  width: 100%;
}
.banner-header-holder .banner-header-container {
    left: 0;
    right: 0;
    z-index: 4;
}
.banner-header-holder .banner-container {
    position: relative;
    width: 100%;
    z-index: 4;
}
.banner-header-holder .banner-container .banner-slide-indicator {
    bottom: -12px;
    display: none;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 3;
}
.banner-slide-indicator .slider-indicator .indicator
{
    width: 10px;
  height: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
    background-color: #000000;
}
.banner-header-holder .banner-container .banner-slide-indicator ul {
    background-color: transparent;
    border-radius: 2px 2px 0 0;
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    padding: 5px 8px 3px;
    vertical-align: bottom;
    width: auto;
}
.banner-header-holder .banner-container .banner-slide-indicator ul li {
    background: none repeat scroll 0 center #EEEEEE;
    float: left;
    list-style: circle none;
    margin: 0;
    margin-right: 5px;
    padding: 2px 4px;
    display: inline;
    width: 16px;
  height: 16px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
}
.banner-header-holder .banner-container .banner-slide-indicator li a:hover, .banner-header-holder .banner-container .banner-slide-indicator .active a {
    background: none no-repeat scroll 0 -280px #000000;
    background-position: 100% -280px;
    opacity: 1;
}
.banner-header-holder .banner-container .banner-slide-indicator li a {
    background: none no-repeat scroll 0 -280px #EEEEEE;
    display: block;
    height: 8px;
    outline: 0 none;
    width: 8px;
    border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
    opacity: 0.6;
    margin-top: 1px;
}
.banner-container .banner-slide-indicator li a {
    background: url("/themes/pizzahut/images/slider-icon.gif") no-repeat scroll 0 -280px transparent;
    display: block;
    height: 7px;
    width: 7px;
}
.banner-container .banner-slide-indicator li {
    list-style: circle none;
}
.free-html ul li {
    list-style-type: circle;
}
html.no-js .no-js-hidden {
    display: none;
}
.banner-header-holder .side_btns_holder {
    margin: 0 auto;
    position: relative;
    top: 150%;
    width: 100%;
    z-index: 4;
}

.banner-container .banner-control-bar-prev, .banner-container .banner-control-bar-next {
    display: none;
    height: 54px;
    position: absolute;
    text-indent: -9999px;
    top: 150%;
    width: 54px;
    z-index: 3;
    outline : none;
    text-decoration :none;
    cursor: pointer;
}

.banner-container .banner-control-bar-prev {
    left: 3px;
}
.banner-header-holder .banner-container .banner-control-bar-prev {
    left: 5px;
}
.banner-header-holder .banner-container .banner-control-bar-prev a {
    background: url("/themes/pizzahut/images/slider-icon.gif") no-repeat scroll 0 -310px transparent;
}
.banner-control-bar-next a {
    background: url("/themes/pizzahut/images/slider-icon.gif") no-repeat scroll 100% -310px transparent;
    display: block;
    height: 54px;
    opacity: 0.8;
    width: 54px;
}
.banner-header-holder .banner-container .banner-control-bar-prev, .banner-header-holder .banner-container .banner-control-bar-next {
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none;
    height: 54px;
    position: absolute;
    text-indent: -9999px;
    top: 120px;
    width: 54px;
    z-index: 3;
}
.banner-header-holder .banner-container .banner-control-bar-prev a, .banner-header-holder .banner-container .banner-control-bar-next a {
    display: block;
    height: 54px;
    opacity: 0.6;
    width: 54px;
}
.banner-header-holder .banner-container .banner-control-bar-prev a:hover, .banner-header-holder .banner-container .banner-control-bar-next a:hover
{
    opacity: 1;
}
.banner-header-holder .banner-container .banner-control-bar-next {
    right: 5px;
}
.banner-container .banner-control-bar-next {
    background-position: 0 -210px;
}
#banner_div > div > a {
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#banner_div > div > a.transparent {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
.bannerTextDiv{
  position: absolute;
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.bannerTextDiv.transparent{
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
.bannerTextBand {
  position: absolute;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
  background: -moz-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, .25), transparent);
  left: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}
.bannerTextBand.transparent{
    opacity: 0.99;
}
/*END BANNER*/

/******* enb banner css ****/

.address_suggest{
	background: #fff;
	border-radius: 4px;
	position: absolute;
	z-index: 8;
	border: 2px solid #392113;
	width: auto;
	min-width: 93%;
	display:none;
}

.address_suggest p{
	cursor: pointer;
	width: 100%;
	padding: 10px;
	margin: 0;
}

.address_suggest p:focus,
.address_suggest p:hover{
	background: #392113;
	color: #fff;
}
.voucher_style {
    font-size: 22px;
    font-weight: bolder;
    border: 1px solid;
    width: 200px;
    padding: 20px;
    text-align: center;
}

@media only screen and (max-width: 768px){
	.ja_close{
		display: block !important;
	}
}
